<style scoped>
    .block-title > i {
        padding-top: 10px;
        padding-left: 15px;
    }
/*
    .block.full:first-child {
        padding-left: 0px;
        padding-right: 0px;
    }*/
</style>

<!-- Form Caption -->
<div class="block full">

    <!-- Block Caption Title -->
    <div class="block-title">
        <i class="{{form-template-icon}} fa-2x pull-left themed-color"></i>
        <h2>{{form-template-caption}}</h2>

        <div class="block-options pull-right form-template-toolbar">

            {{form-template-toolbar}}
            
        </div>
    </div>
    <!-- END Block Caption Title -->
    <!-- Master Record Fields -->
    {{form-template-master-record}}
    <!-- END Master Record Fields -->
    <!-- START Form Tabs -->
    <div class="block full" id="form-template-master-tab-panel-buttons">
        <div class="block-title">
            <ul class="nav nav-tabs" data-toggle="tabs" id="Generic_Template-form-tab-nav-horizontal">
                {{form-template-master-tabs}}
            </ul>
        </div>
        <div class="tab-content">
            {{form-template-master-tab-pages}}
        </div>
    </div>
    <!-- END Form Tabs -->

</div>
<!-- END Tabs Content -->