<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <httpRuntime executionTimeout="240" maxRequestLength="20480"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Allow CORS: Cross Origin Resource Sharing: 
             Needed for remote access to .json files
        -->
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
        <!-- HTTP 1.1. -->
        <add name="Pragma" value="no-cache"/>
        <!-- HTTP 1.0. -->
        <add name="Expires" value="0"/>
        <!-- Proxies. -->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom" defaultResponseMode="File"/>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>